<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Cheers! | User Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar sticky-top p-3 navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../images/cheerslogo.png" width="90" height="30" class="d-inline-block align-top" alt="">
        <!-- image obtained from "Clipart Library" with personal use license at http://clipart-library.com/clipart/7171.htm -->
        <span class="fs-4">Cheers!</span></a>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link " th:href="@{/users}">User Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active disabled" th:href="@{/addDrink}" tabindex="-1">New Drink</a>
        </li>
        <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
    </ul>
    <div class="input"></div>
    <input type="text" placeholder="Search..">
</nav>
<div class="card-group">
    <div class="card" style="border: none; flex: 1 0 25%; max-width: 25%; overflow-x: scroll; height: 80vh; overflow-y: scroll">
        <div class="card-body">
            <div class="nav flex-column">
                <a class="nav-item nav-link disabled" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-person-square" style="font-size: 1.875rem; padding: 10px"></i>
                    <b>[[${#request.userPrincipal.principal.fullName}]]</b></a>
                <a class="nav-item nav-link" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-people" style="font-size: 1.875rem; padding: 10px"></i>
                    Friends</a>
                <a class="nav-item nav-link" th:href="@{/addDrink}" style="display: flex; align-items: center">
                    <i class="bi bi-cup-straw" style="font-size: 1.875rem; padding: 10px"></i>
                    Drinks</a>
                <a class="nav-item nav-link" th:href="@{/settings}" style="display: flex; align-items: center">
                    <i class="bi bi-gear" style="font-size: 1.875rem; padding: 10px"></i>
                    Preferences</a>
                <a class="nav-item nav-link" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-pencil-square" style="font-size: 1.875rem; padding: 10px"></i>
                    Messages</a>
            </div>
        </div>
    </div>
    <div class="card" style="border: none; flex: 1 0 50%; max-width: 50%; height: 80vh; overflow-y: scroll">
        <div class="card-body">
            <h5 class="card-title">Activity</h5>
            <form th:action="@{/process_drink}" th:object="${drink}"
                  method="post" style="max-width: 600px; margin: 0 auto;">
                <!--                <label for="exampleFormControlFile1">Upload image</label>-->
                <!--                <input type="file" class="form-control-file" id="exampleFormControlFile1" />-->
                <div class="form-group col-md-4">
                    <label>Drink Name</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="..." />
                </div>
                <div class="form-group col-md-4">
                    <label>Brand</label>
                    <input type="text" class="form-control" th:field="*{brand}" placeholder="..." />
                </div>
                <div class="form-group col-md-2">
                    <label>Is it Carbonated?</label>
                    <select class="form-control" th:field="*{carbonated}">
                        <option th:value="true" th:field="*{carbonated}">yes</option>
                        <option th:value="false" th:field="*{carbonated}">no</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Is it Alcoholic?</label>
                    <select class="form-control" th:field="*{alcoholic}">
                        <option th:value="true" th:field="*{alcoholic}">yes</option>
                        <option th:value="false" th:field="*{alcoholic}">no</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Type of Drink</label>
                    <select class="form-control" th:field="*{type}">
                        <option th:value="Beer" th:field="*{type}">Beer</option>
                        <option th:value="Wine" th:field="*{type}">Wine</option>
                        <option th:value="Cocktail" th:field="*{type}">Cocktail</option>
                        <option th:value="Soda" th:field="*{type}">Soda</option>
                        <option th:value="Juice" th:field="*{type}">Juice</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary my-1">Submit</button>
            </form>
        </div>
    </div>
    <div class="card" style="border: none; flex: 1 0 25%; max-width: 25%; height: 80vh; overflow-y: scroll">
        <div class="card-body">
            <h5 class="card-title">Another Section</h5>
            <p class="card-text">Some text.</p>
        </div>
    </div>
</div>
</body>
</html>