<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
   <meta charset="UTF-8" />
   <title>Cheers!</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</head>
   <body>
      <div class="container">
         <header th:fragment="header" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
               <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
               <span class="fs-4" th:href="@{/index}">Cheers!</span>
            </a>

            <ul class="nav nav-pills">
               <li class="nav-item"><a th:href="@{/index}" class="nav-link active" aria-current="page">Home</a></li>
               <li class="nav-item"><a th:href="@{/login}" class="nav-link">Login</a></li>
               <li class="nav-item disabled"><a th:href="@{/register}" class="nav-link disabled">Create User</a></li>
               <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
               <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
         </header>
      <hr>
         <form th:action="@{/process_register}" th:object="${user}"
               method="post" style="max-width: 600px; margin: 0 auto;">
            <p>Please fill in this form to create an account.</p>
            <label>First :</label>
            <input type="text" th:field="*{first}" class="form-control"
                   /><br>
            <label>Last :</label>
            <input type="text" th:field="*{last}" class="form-control"
                    /><br>
            <label>Email id :</label>
            <input type="email" th:field="*{email}" class="form-control" required /><br>
            <label>Password :</label>
            <input type="password" th:field="*{password}" class="form-control"
                   required minlength="6"/><br>
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <div>
               <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
         </form>
      </div>
      </form>
   </body>
</html>