<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Cheers! | User Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

<nav class="navbar sticky-top p-3 navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../images/cheerslogo.png" width="90" height="30" class="d-inline-block align-top" alt="">
        <!-- image obtained from "Clipart Library" with personal use license at http://clipart-library.com/clipart/7171.htm -->
    </a>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="index.html" tabindex="1">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="UserPage.html">User Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="Sign-up.html" tabindex="-1">Create User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>
    <div class="input"></div>
    <input type="text" placeholder="Search..">
</nav>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <div class="nav flex-column">
                <a class="nav-item nav-link disabled" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-person-square" style="font-size: 1.875rem"></i>
                    &nbsp @Norm Peterson
                </a>
                <a class="nav-item nav-link" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-people" style="font-size: 1.875rem"></i>
                    &nbsp Friends
                </a>
                <a class="nav-item nav-link" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-cup-straw" style="font-size: 1.875rem"></i>
                    &nbsp Drinks
                </a>
                <a class="nav-item nav-link" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-gear" style="font-size: 1.875rem"></i>
                    &nbsp Preferences
                </a>
                <a class="nav-item nav-link" href="#" style="display: flex; align-items: center">
                    <i class="bi bi-pencil-square" style="font-size: 1.875rem"></i>
                    &nbsp Messages
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <i class="bi bi-image"></i>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <i class="bi bi-image"></i>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>

</body>

</html>