<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Cheers! | User Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar sticky-top p-3 navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../images/cheerslogo.png" width="90" height="30" class="d-inline-block align-top" alt="">
        <!-- image obtained from "Clipart Library" with personal use license at http://clipart-library.com/clipart/7171.htm -->
    </a>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="index.html" tabindex="1">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="UserPage.html">User Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="Sign-up.html" tabindex="-1">Create User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>
    <div class="input"></div>
    <input type="text" placeholder="Search..">
</nav>
<header>Welcome User!</header>
</body>
</html>